@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <style>
        body {
            background-color: #f2f2f2;
        }

        .container {
            margin-top: 100px;
        }

        .card {
            border: none;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        }

        .card-header {
            background-color: #007bff;
            color: white;
            text-align: center;
        }

        .card-footer {
            background-color: #f2f2f2;
            border-top: none;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Registro de Usuario</div>
                    <div class="card-body">
                        <form action="@Url.Action("Registrar","Acceso")" method="post">
                            <div class="form-group">
                                <label for="correo">Correo:</label>
                                <input type="email" name="Correo" class="form-control" id="correo" required>
                            </div>
                            <div class="form-group">
                                <label for="contrasena">Contraseña:</label>
                                <input type="password" name="Password" class="form-control" id="contrasena" required>
                            </div>
                            <div class="form-group">
                                <label for="confirmar-contrasena">Confirmar Contraseña:</label>
                                <input type="password" name="ConfirmarPassword" class="form-control" id="confirmar-contrasena" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted text-center">
                        ¿Ya tienes una cuenta? <a href="@Url.Action("Login","Acceso")">Iniciar Sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
